<ul class="nav nav-tabs tab-nav-right" role="tablist">
    <li role="presentation" class="active">
        <a href="#stops" data-toggle="tab" (click)="getUserStops()">Stops</a>
    </li>
    <li role="presentation">
        <a href="#task" data-toggle="tab" (click)="getUserTask()">Task</a>
    </li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="stops">
        <div *ngFor="let row of stopsDT" class="def-box">
            <div class="detailBlock">
                {{row.stops}}
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="task">
        <div *ngFor="let row of taskDT" class="def-box">
            <div class="detailBlock">
                {{row.task}}
            </div>
        </div>
    </div>
</div>