.trptype span {
    color: #fff;
    font-size: 19px;
    position: relative;
    font-weight: bold;
    top: 2px;
    text-transform: capitalize;
}

.trptype {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ff9900;
    float: left;
    margin-left: -5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}

.detailBlock {
    margin-left: 35px;
}

span.material-icons.ico-specify {
    font-size: 14px;
    color: #329e05;
    margin-top: 1px;
    position: absolute;
    left: -9px;
    top: -3px;
}

.statusicon {
    position: absolute;
    left: -2px;
    top: 5px;
}

.statusicon .material-icons {
    font-size: 15px;
    font-weight: bold;
    color: teal;
}

.leftmar {
    margin-left: 3px;
}

.slideright {
    position: absolute;
    right: 0px;
    z-index: 111;
    margin-top: -10px;
    color: #fff;
}

.backholder {
    background-color: #fff;
    margin-top: -4px;
}

.backarrow {
    position: relative;
    display: block;
    background-color: #607d8b;
    color: #fff;
}

.backarrow span {
    font-size: 14px;
    top: 8px;
    position: absolute;
}

.tripsLines {
    margin: 2px -4px 2px 0px;
    background-color: #ccc;
    padding-top: 3px;
    border-radius: 0px 10px 10px 0px;
    color: #000;
    background: rgba(235, 251, 255, 1);
    background: -moz-linear-gradient(left, rgba(235, 251, 255, 1) 0%, rgba(96, 125, 139, 1) 98%, rgba(96, 125, 139, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235, 251, 255, 1)), color-stop(98%, rgba(96, 125, 139, 1)), color-stop(100%, rgba(96, 125, 139, 1)));
    background: -webkit-linear-gradient(left, rgba(235, 251, 255, 1) 0%, rgba(96, 125, 139, 1) 98%, rgba(96, 125, 139, 1) 100%);
    background: -o-linear-gradient(left, rgba(235, 251, 255, 1) 0%, rgba(96, 125, 139, 1) 98%, rgba(96, 125, 139, 1) 100%);
    background: -ms-linear-gradient(left, rgba(235, 251, 255, 1) 0%, rgba(96, 125, 139, 1) 98%, rgba(96, 125, 139, 1) 100%);
    background: linear-gradient(to right, rgba(235, 251, 255, 1) 0%, rgb(96, 125, 139) 98%, rgb(96, 125, 139) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ebfbff', endColorstr='#49a5bf', GradientType=1);
}

.font-white {
    color: #fff;
}