<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-md-2">
                <h4>Push Tag</h4>
            </div>
            <div class="col-md-9 col-xs-9">
            </div>
            <div class="col-md-1 col-xs-1" align="right">
                <button type="button" class="btn btn-theme btn-xs" (click)="addPushTag()">
                    <i class="material-icons">add</i></button>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="row clearfix">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-line">
                        <label class="control-label">Entity Name</label>
                        <p-autoComplete id="enttname" name="enttname" [(ngModel)]="enttname" [tabindex]="1" (onSelect)="selectEntityData($event)" [suggestions]="entityDT" (completeMethod)="getEntityData($event)" field="label" [minLength]="1" [size]="30" class="form-controlAutoComplete enttname"></p-autoComplete>
                        <span class="material-icons inputserachico">search</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-4">
                <div id="msttag" class="info-box demo">
                    <a role="button" (click)="getPushTagDetails(0)">
                        <div class="content">
                            <div class="text">Master</div>
                            <div class="number count-to" data-from="0" data-to="totCountTags" data-speed="15" data-fresh-interval="20">
                                ({{totCountTags}})
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2" *ngFor="let etrow of emptagDT">
                <div id="etrow.msttag" class="info-box demo">
                    <a role="button" (click)="getPushTagDetails(etrow.empid)">
                        <div class="content">
                            <div class="text">{{etrow.empname}}</div>
                            <div class="number count-to" data-from="0" data-to="etrow.counttag" data-speed="15" data-fresh-interval="20">
                                ({{etrow.counttag}})
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="header">
            <h4>{{headertitle}}</h4>
        </div>

        <div class="row clearfix" *ngIf="pushtagDT.length">
            <div class="col-md-12 table-responsive">
                <p-dataTable [value]="pushtagDT">
                    <p-column [style]="{'width':'50px', 'text-align':'left'}">
                        <template let-row="rowData" pTemplate type="body">
                            <span class="material-icons">{{row.tagtype == "p" ? 'desktop_windows' : 'settings_cell' }}</span>
                        </template>
                    </p-column>
                    <p-column field="tagnm" header="Tag Name" [style]="{'text-align':'left'}"></p-column>
                    <p-column field="remark1" header="Remark 1" [style]="{'width':'240px', 'text-align':'left'}"></p-column>
                    <p-column field="remark2" header="Remark 2" [style]="{'width':'240px', 'text-align':'left'}"></p-column>
                    <p-column field="remark3" header="Remark 3" [style]="{'width':'240px', 'text-align':'left'}"></p-column>
                    <p-column field="countemp" header="Employee" [style]="{'width':'80px', 'text-align':'center'}"></p-column>
                    <p-column [style]="{'width': '50px', 'align': 'left'}">
                        <template let-row="rowData" pTemplate type="body">
                            <button type="button" class="btn btn-theme btn-xs" (click)="editPushTag(row)">
                                <i class="material-icons">edit</i>
                            </button>
                        </template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>